body{

background:  black;

}
#frmregistration{

    background: white;
    width: 31.5%;
    border-radius: 6px;
    margin: 10% auto;
    padding: 2%;
    box-shadow: 20px 20px 12px rgb(82, 11, 77);
    
   
}
